@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100%;
  width: 100%;
}

#login {
    background-image:  url("../src/assets/Login/Background.png");
    background-position: center; /* Center the image */
  background-repeat: no-repeat ; 
  background-size: cover; 
    
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #5C727D;
}
::-webkit-scrollbar-track {
  background-color: #00120b;
}

body {padding: 0;}