@tailwind base;
@tailwind components;
@tailwind utilities;

#section1 {
  background-image: url("../src/assets/Landing\ Page/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section2 {
    background-image: url("../src/assets/Landing\ Page/image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }