@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 10px;
  min-width: 400px;
}

.ContactUs {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;  
}

.sideBar{
  background: yellow;
  width: 25%;
}

.contact {
  padding: 40px;
  width: 100%;
}

.contact h2 {
  color: #0e3959;
  font-weight: 600;
  font-size: 1.5rem;
}

/* form */
.form form {
  margin-top: 1em;
  padding-top: 10px;

}

.formBox {
  position: relative;
  width: 100%;
  margin-top: 5px;
}
.fromBox .row20 {
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
.inputBox span,
.row60 span,
.row100 span {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.15em;
}

.inputBox input,
.inputBox textarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 10px;
  transition: background 0.3;
  font-size: 1em;
}

.row80 {
  margin-top: 1em;
}
.inputBox textarea {
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

/* liste déroulente */
.row40 {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  gap: 1em;
  padding-top: 0.5em;
}

.row40 .inputBox input {
  width: 100%;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0.5em;
  width: 100%;
}

.dropdown span {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.15em;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin-top: 1em;
  transition: background 0.3;
  font-size: 1em;
  cursor: pointer;
  padding: 1em;
  background-color:white;
}

.select > div:nth-child(1) {
  display: flex;
  align-items: center;
}

.selected {
  margin-right: 0.8em;
}

/*
  Clicked Styles
  (added later in JS)
*/

.select-clicked {
  border: 2px #215ceb solid;
  box-shadow: 0 0 0.8em #215ceb;
}

.select:hover {
  background: #d8d5f2;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid;
  transition: 0.3s;
}

/*
  Rotate styles
  (added later in JS)
*/
.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #f3f2f7;
  border: 1px #e1e1e6 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 8em;
  left: 50%;
  width: 100%;
  max-height: 120px;
  overflow-y: scroll;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #d7ecfa;
}

/*
  Active Style
  (added later in JS)
*/
.active {
  background: #cbd2d6;
}

/*
  Open Styles
  (added later in JS)
*/
.menu-open {
  display: block;
  opacity: 1;
}

.row60 {
  margin-top: 1em;
}

.row60 .gridBox {
  display: grid;
  grid-template-columns: auto auto auto; /* Two equal columns */
  grid-template-rows: 1fr 1fr; /* Two equal rows */
  gap: 2em; /* Gap between grid cells */
  column-gap: 22%;
  padding-top: 1.5em;
}

.row60 .gridBox .checkBox {
  white-space: normal;
}

.row60 .gridBox .checkBox label {
  padding-left: 0.4em;
}

.imgBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: center;
  margin-top: 1.5em;
  gap: 12px;
}

.imgBox div {
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 10px;
  width: 180px;
  aspect-ratio: 1/1;
}

.imgBox div:not(#addImg) {
  background-size: cover;
  background-position: center;
  position: relative;
}

#imageInput {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.trash-icon {
  color: white;
  background: #f74fd6;
  width: 21%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#addImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

#addImg span {
  text-align: center;
}

#addImg span:nth-child(1) {
  font-size: 5em;
  line-height: 0.5;
}

#addImg span:nth-child(2) {
  font-weight: 700;
}

.next .inputBox {
  display: flex;
  align-items: flex-end;
  padding: 20px 0;
}

.next .inputBox input[type="submit"] {
  background: #2563eb;
  display: flex;
  justify-content: center;
  width: 8em;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .ContactUs {
    padding: 10px 50px;
  }

  .row40 {
    flex-direction: column;
  }

  .dropdown {
    font-size: 1rem;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .row60 .gridBox {
    display: grid;
    grid-template-columns: auto auto; /* Two equal columns */
    grid-template-rows: 1fr 1fr 1fr; /* Two equal rows */
  }

  .next .inputBox {
    align-items: center;
  }
}

@media screen and (max-width: 1024px){
  .sideBar{
    width: 0;
  }
}
